<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h1><%#= @user.full_name %></h1>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#">
				<span>Menu</span>
			</a>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li class="divider"></li>
			<li><%= link_to "Home", root_url %>
			<li class="divider"></li>
			<li><%= link_to "Add New Tank", new_tank_url %></li>
			<li class="divider"></li>
			<li><%= link_to "Add New Car", new_car_url %></li>
			<li class="divider"></li>
			<li><%= link_to "See All Cars", cars_url %></li>
			<li class="divider"></li>
			<li><%= link_to "Log Out", logout_url %></li>				
		</ul>
	</section>
</nav>
<div class="mp_back">
	<%= form_for @tanks, url: tanks_url(@tanks) do |f| %>
		<%= f.label :amount %>
		<%= f.text_field :amount %>
		<%= f.label :price %>
		<%= f.text_field :price %>
		<%= f.label :current_miles %>
		<%= f.text_field :current_miles %>
		<!-- add checkboxes for driving conditions here -->
		<%= f.submit, :class => "tiny button" %>
		<%= link_to "Cancel", root_url, :class => "tiny button" %>
	<% end %>
</div>