<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<h1><%#= @user.full_name %></h1>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#">
				<span>Menu</span>
			</a>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li class="divider"></li>
			<li><%= link_to "Home", root_url %>
			<li class="divider"></li>
			<li><%= link_to "Add New Tank", new_tank_url %></li>
			<li class="divider"></li>
			<li><%= link_to "Add New Car", new_car_url %></li>
			<li class="divider"></li>
			<li><%= link_to "See All Cars", cars_url %></li>
			<li class="divider"></li>
			<li><%= link_to "Log Out", logout_url %></li>				
		</ul>
	</section>
</nav>
<div class="mp_back">
	<table>	
		<thead>
			<tr>
				<td>Number of Gallons</td>
				<td>Price Per Gallon</td>
				<td>Miles on Tank</td>
				<td>Date</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
		</thead>
		<tbody>
			<% @tanks.each do |t| %>
				<tr>
					<td><%= t.amount %></td>
					<td><%= t.price %></td>
					<td><%= t.current_miles %></td>
					<td><%= t.created_at %>
					<td><%= link_to "Edit", edit_tank_url(t.id) %>
					<td><%= link_to "Delete", t, method: :delete %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>