<%= render partial: "shared/nav" %>
<div class="mp_back">
	<p>Fill Date: <%= @tank.created_at %></p>
	<p>Price Per Gallon: <%= @tank.price %></p>
	<p>Gallons: <%= @tank.amount %></p>
	<p>Miles on Tank: <%= @tank.current_miles %></p>
</div>
