<%= render partial: "shared/nav" %>
<div class="mp_back">	
	<%= flash.notice %>
	<table>	
		<thead>
			<tr>
				<td>Name</td>
				<td>Year</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
		</thead>
		<tbody>
			<% @cars.each do |c| %>
				<tr>
					<td><%= link_to c.name, car_url(c.id) %></td>
					<td><%= c.year %>
					<td><%= link_to "Edit", edit_car_url(c.id) %>
					<td><%= link_to "Delete", c, method: :delete %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>